::placeholder {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Comfortaa', cursive;

    /* position: fixed;
    top: 10px; */
}

.title {
    display: flex;
    justify-content: center;
}

.subtitle {
    display: flex;
    justify-content: center;
}

.title-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.direction {
    display: flex;
    justify-content: center;

    margin-top: 30px;
    margin-bottom: 6px;
}

.config {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
}

.form-check {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 20px;
}

/* .submit {
    border: 1px solid;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 20px;
} */

.submit-botton {
    padding: 10px;
    
    color: black;
}

.submit:hover {
    background-color: aquamarine;
}

.in-contents {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post {
    text-decoration: underline;
}

.box {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.search-result-candidate {
    display: flex;
    flex-direction: column;
}

.selected-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 20px;
}

.name-ticker-delete {
    display: flex;
    justify-content: center;
}

.selected-company {
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
}

.delete-botton {
    margin-right: 10px;
    margin-left: 10px;

    color: gray;
}

.not-found-error {
    background-color: yellow;
    color: red;
}

.submit-understand-button {
    padding: 10px;

    color: black;
}

.submit-understand:hover {
    background-color: yellow;
}

.download-section-title {
    text-align: center;
}

/* .download-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
}

.file-name {
    text-align: center;
}

.download-form {
    text-align: center;
    margin-left: 5px;
    font-weight: bold;
}

.download-form:hover {
    background-color: aquamarine;
}

.download-button {
    color: black;
}

.init {
    display: flex;
    justify-content: center;

    padding: 10px;
}

.init-button {
    color: black;
}

.init:hover {
    background-color: red;
}

.footer {
    text-align: center;
    margin-bottom: 20px;
}

.footer-contents:hover {
    color: gray;
}

.signature {
    margin-top: 20px;
}