{% extends "base.html" %}
{% block main %}

<div class="config">
    <hr class="in-contents">
    <form action="/reportType" method="post">
        <div class="options">
            <div class="form-check">
                {% if "financials" in reportType %}
                    <input type="checkbox" name="reportType" value="financials" id="reportType-financials" checked disabled>
                {% else %}
                    <input type="checkbox" name="reportType" value="financials" id="reportType-financials" disabled>
                {% endif %}
                <label>
                    Financials
                </label>
            </div>
            <div class="form-check">
                {% if "BS" in reportType %}
                    <input type="checkbox" name="reportType" value="BS" id="reportType-bs" checked disabled>
                {% else %}
                    <input type="checkbox" name="reportType" value="BS" id="reportType-bs" disabled>
                {% endif %}
                <label>
                    BS
                </label>
            </div>
            <div class="form-check">
                {% if "PL" in reportType %}
                    <input type="checkbox" name="reportType" value="PL" id="reportType-pl" checked disabled>
                {% else %}
                    <input type="checkbox" name="reportType" value="PL" id="reportType-pl" disabled>
                {% endif %}
                <label>
                    PL
                </label>
            </div>
            <div class="form-check">
                {% if "CF" in reportType %}
                    <input type="checkbox" name="reportType" value="CF" id="reportType-cf" checked disabled>
                {% else %}
                    <input type="checkbox" name="reportType" value="CF" id="reportType-cf" disabled>
                {% endif %}
                <label>
                    CF
                </label>
            </div>
        </div>
        <div class="submit">
            <input type="submit" value="OK" class="submit-botton" id="reportType" disabled> 
        </div>        
    </form>

    <hr class="in-contents">

    <form action="/period" method="post">
        <div class="options">
            <div class="form-check">
                {% if "last3years" in period %}
                    <input type="checkbox" name="period" value="last3years" id="last3years" checked disabled>
                {% else %}
                    <input type="checkbox" name="period" value="last3years" id="last3years" disabled>
                {% endif %}
                <label>
                    Last 3 years
                </label>
            </div>
            <div class="form-check">
                {% if "lastQuarter" in period %}
                    <input type="checkbox" name="period" value="lastQuarter" id="lastQuarter" checked disabled>
                {% else %}
                    <input type="checkbox" name="period" value="lastQuarter" id="lastQuarter" disabled>
                {% endif %}
                <label>
                    Last Quarter
                </label>
            </div>
        </div>
        <div class="submit">
            <input type="submit" value="OK" class="submit-botton" id="period" disabled>
        </div>
    </form>

    <hr class="in-contents">

    <form action="/select" method="post">
        <div class="search-box">
            <input type="text" name="companyName" placeholder="Search for company name" class="box">
        </div>
        <div class="submit">
            <input type="submit" value="SEARCH" class="submit-botton">
        </div>        
    </form>

    <ul class="selected-list">
        {% for name in nameList %}
            <div class="name-ticker-delete">
                <li class="selected-company">{{name}} ( {{sessionDict[name]}} )</li>
                <form action="./deleteCandidates" method="post">
                    <input type="hidden" name="companyName" value="{{name}}">
                    <input type="submit" value="delete" class="delete-botton">
                </form>
            </div>
        {% endfor %}
    </ul>

    <hr class="in-contents">

    <form action="/complete" method="post">
        <div class="submit">
            <input type="submit" value="DONE" class="submit-botton" id="done">
        </div>
    </form>

    <hr class="in-contents">

</div>

{% endblock %}